@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-vl-grayish-blue: hsl(210, 60%, 98%);
  --color-l-grayish-blue-1: hsl(211, 68%, 94%);
  --color-l-grayish-blue-2: hsl(205, 33%, 90%);
  --color-grayish-blue: hsl(219, 14%, 63%);
  --color-d-grayish-blue: hsl(219, 12%, 42%);
  --color-vd-blue: hsl(224, 21%, 14%);
  --color-blue: hsl(219, 85%, 26%);
  --color-red: hsl(1, 90%, 64%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: auto;
}

body {
  background-color: var(--color-vl-grayish-blue);
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.content {
  max-width: 730px;
  width: 100%;
  padding: 2rem 1rem;
  background-color: var(--color-white);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 14px;
}

.title h3 {
  color: var(--color-vd-blue);
  font-size: 1.5rem;
}

.mark button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  color: var(--color-d-grayish-blue);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
}

.mark button:hover {
  cursor: pointer;
  color: var(--color-blue);
  transition: color 0.5s;
}

.unreadCount {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 7px;
}

.unreadCount p {
  padding: 3px 12px;
  font-size: 15px;
  font-weight: 700;
}

.notifications {
  margin-top: 2rem;
  gap: .5rem;
  display: flex;
  flex-direction: column;
}

.notification {
  display: flex;
  padding: 1rem 1.2rem;
  gap: 1rem;
  align-items: start;
  line-height: 19px;
}

.unread {
  background-color: var(--color-vl-grayish-blue);
  border-radius: 10px;
}

.picture {
  display: flex;
  align-items: start;
  flex: 0 0 45px;
}

.details {
  flex: 1;
  line-height: 1.5;
}

.post-picture {
  flex: 0 0 45px;
}

.post-link {
  color: var(--color-d-grayish-blue);
  font-weight: bold;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.post-link:hover {
  color: var(--color-blue);
}

.name {
  color: var(--color-vd-blue);
  font-weight: bold;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.name:hover {
  color: var(--color-blue);
}

.action {
  margin: 0 3px;
  color: var(--color-d-grayish-blue);
}

.time {
  color: var(--color-grayish-blue);
}

.text {
  border: 1px solid var(--color-l-grayish-blue-2);
  border-radius: 5px;
  margin: .75rem 0 .2rem;
  padding: 1rem 1.3rem;
  color: var(--color-d-grayish-blue);
  line-height: 1.3;
  transition: all .3s ease-in-out;
}

.text:hover {
  background-color: var(--color-vl-grayish-blue);
  cursor: pointer;
  border: 1px solid var(--color-vl-grayish-blue);
}

.group-link {
  color: var(--color-blue);
  font-weight: bold;
  text-decoration: none;
}

.unread .details-description::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  text-align: center;
  background-color: var(--color-red);
  border-radius: 50%;
  position: relative;
  top: -1px;
  left: 2px;
}

@media screen and (min-width: 767px) {
  .content {
    margin: 1rem auto;
    padding: 2rem 2rem 0;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 var(--color-l-grayish-blue-1);
  }
}
