@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --white-lilac: #F9FAFD;
  --light-grayish: #F6FAFC;
  --light-grayish2: hwb(205 87% 7%);
  --gayish: #E2E4E6; /* gayish? */
  --dark-grayish: hsl(219, 12%, 42%);
  --gallery: #EEEEEE;
  --very-dark: hsl(224, 21%, 14%);
  --manatee: #9A9CA2;
  --blue: hsl(219, 85%, 26%);
  --red: hsl(1, 90%, 64%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: auto;
}

body {
  background-color: var(--white-lilac);
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.content {
  max-width: 730px;
  width: 100%;
  margin: 1rem auto;
  padding: 2rem 2rem 0;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 0 20px 0 var(--gallery);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 14px;
}

.title h3 {
  font-size: 1.5rem;
}

.mark button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  color: var(--dark-grayish);
  font-size: 1rem;
}

.mark button:hover {
  cursor: pointer;
  color: var(--blue);
  transition: color 0.5s;
}

.unreadCount {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 7px;
}

.unreadCount p {
  padding: 2px 11px;
}

.notifications {
  margin-top: 2rem;
  gap: .5rem;
  display: flex;
  flex-direction: column;
}

.notification {
  display: flex;
  padding: 1rem 1.2rem;
  gap: 1rem;
  align-items: start;
  line-height: 19px;
}

.unread {
  background-color: var(--light-grayish);
  border-radius: 10px;
}

.picture {
  display: flex;
  align-items: start;
  flex: 0 0 45px;
}

.details {
  line-height: 1.5;
}

#post-link {
  color: var(--dark-grayish);
  font-weight: bold;
  text-decoration: none;
  outline: none;
}

.name {
  font-weight: bold;
}

.action {
  color: var(--dark-grayish);
}

.time {
  color: var(--manatee);
}

.text {
  border: 1px solid var(--gayish);
  border-radius: 5px;
  margin: .75rem 0 .2rem;
  padding: 1rem 1.3rem;
  color: var(--dark-grayish);
  line-height: 1.3;
}

.text:hover {
  background-color: var(--light-grayish);
  border: 1px solid var(--white);
}

#group-link {
  color: var(--blue);
  font-weight: bold;
  text-decoration: none;
}

.unread .details-description::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  text-align: center;
  background-color: var(--red);
  border-radius: 50%;
  position: relative;
  top: -1px;
}

@media screen and (max-width: 375px) {
  .content {
    padding: 1rem;
  }
}
